.logo{
    width: 16%;
    margin-left: 650px;
    margin-top: 20px;   
}
.verify{
    position: absolute;
    width: 45px;
    height: auto;
    margin-left: -900px;
    margin-top: -10px;
}
.safe{
    margin-left: 45px;
    margin-top: -115px;
    color: rgb(55, 255, 95);
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.user{
    position: relative;
    margin-top: 100px;
    margin-left: 600px;
    width: 370px;
    height: 45px;
    background-color: rgb(248, 248, 248);
    border-color: rgb(241, 241, 241);
    border-style: solid;
    text-align: left;
    font-size: 17px;
    border-radius: 3px;
}
.pass{
    position: relative;
    margin-top: 20px;
    margin-left: 600px;
    width: 370px;
    height: 45px;
    background-color: rgb(248, 248, 248);
    border-color: rgb(241, 241, 241);
    border-style: solid;
    text-align: left;
    font-size: 17px;
    border-radius: 3px;
}
.log{
    width: 380px;
    height: 45px;
    margin-left: 600px;
    margin-top: 20px;
    border-style: none;
    background-color: #3897f0;
    color: aliceblue;
    font-size: 18px;
    border-radius: 3px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}
.line{
    height: 2px;
    width: 155px;
    background-color: #dbdbdb;
    margin-left: 600px;
    margin-top: 40px;
}
.or{
    position: absolute;
    margin-left: 177px;
    margin-top: -8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #787878;
}
.line2{
    height: 2px;
    width: 155px;
    background-color: #dbdbdb;
    margin-left: 225px;
    margin-top: 20px;
}
.book{
    height: 30px;
    width: auto;
    margin-top: 30px;
    margin-left: 70px;
}
.with{
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #0035c7;
    margin-right: -100px;
    margin-top: -28px;
    left: 720px;
    font-size: 18px;
}
.forget{
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    left: 735px;
    color: #343434;
}
.have{
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 60px;
    margin-left: 80px;
}
.up{
    color: #0035c7;
}
@media only screen and (max-width:850px){
    .logo{
        position: relative;
        height: auto;
        width: 170px;
        margin-left: 90px;
        margin-top: 50px;
    }
    .safe{
        position: absolute;
        height: auto;
        width: 50px;
        margin-top: 427px;
        font-size: 8px;
        left: 10px;
        margin-left: 10px;
        display: none;
        
    }
    .verify{
        height: auto;
        width: 25px;
        margin-left: -240px;
        margin-top: 530px;
        display: none;
    }
    .user{
        width: 280px;
        height: 40px;
        margin-left: 28px;
        font-size: 15px;
        margin-top: 30px;
    }
    .pass{
        width: 280px;
        height: 40px;
        margin-left: 28px;
        font-size: 15px;
        margin-top: 15px;
    }
    .log{
        width: 287px;
        height: 40px;
        margin-left: 28px;
        font-size: 15px;
        margin-top: 15px;
    }
    .line{
        margin-left: 43px;
        width: 100px;
        height: 1px;
        margin-top: 50px;

    }
    .line2{
        margin-left: 153px;
        width: 100px;
        height: 1px;
      

    }
    .or{
        font-size: 15px;
        margin-left: 117px;
        margin-top: -8px;
    }
    .book{
        height: auto;
        width: 30px;
        margin-top: 26px;
        margin-left: 30px;
    }
    .with{
        margin-left: -605px;
        margin-top: -27px;
        font-size: 15px;
    }
    .forget{
        font-size:13px ;
        margin-left: -610px;
        margin-top: 7px;
    }
    .have{
        position: absolute;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-top: 50px;
        margin-left: 17px;
        color: rgb(71, 71, 71);
        
    }
    .up{
        color: #0035c7;
    }
}